body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Yellowtail", cursive;
  color: #2f2e41;
}

h2 {
  font-size: 2.5rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #2f2e41;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
  display: inline-block;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #eaf6f6;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #00b0ff;
}

.top-container {
  background-color: #ffffff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #2f2e41;
  color: #eaf6f6;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0px;
}

.left-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.right-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 600px;
}

.btn {
  background: #00b0ff;
  background-image: -webkit-linear-gradient(top, #00b0ff, #2673a3);
  background-image: -moz-linear-gradient(top, #00b0ff, #2673a3);
  background-image: -ms-linear-gradient(top, #00b0ff, #2673a3);
  background-image: -o-linear-gradient(top, #00b0ff, #2673a3);
  background-image: linear-gradient(to bottom, #00b0ff, #2673a3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0aabc7;
  background-image: -webkit-linear-gradient(top, #0aabc7, 0499d9);
  background-image: -moz-linear-gradient(top, #0aabc7, 0499d9);
  background-image: -ms-linear-gradient(top, #0aabc7, 0499d9);
  background-image: -o-linear-gradient(top, #0aabc7, 0499d9);
  background-image: linear-gradient(to bottom, #0aabc7, 0499d9);
  text-decoration: none;
  color: #ffffff;
}


@media all and (max-width: 700px) {
    .left-img, .right-img {
        width: 120%;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    .city {
        width: 110%;
    }
    .profile {
        width: 100%;
    }
    .skill-row {
        width: 80%;
    }
}